body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #0c0d0d;
    color: white;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #1c1e21;
    border-radius: 10px;
}

.flashcard {
    margin: 15px 5px;
    background: #0c0d0d;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#add-flashcard-modal {
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(214, 226, 255);
    padding: 20px;
    border-radius: 10px;

}

#add-flashcard-modal h3{
    color: #1c1e21;
}

input{
    width: 350px;
    border: none;
    outline: none;
    background-color: #f8f8f8;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    display: block;
    margin: 10px 0px;
}
button{
    border: none;
    background-color: #f8f8f8;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
